{% extends 'base.html' %}

{% block content %}

<br>
<br>
<div style="background-color:salmon;"  align="center">
    <img align="center" width="213" height="417" src="{{url_for('static',filename='Snapchat-1239156363.jpg')}}">
</div>

<br>
<br>
<div>
    <h1 style="font-family:Lucida Handwriting" align="center">PERSONAL LIFE</h1>
    <br>
    <h4>Etiuwem Barry Umoh is a Software Developer. He was born in Lagos,Nigeria on June 18 2003. He grew up with his parents,his sister and his older two brothers. He was the last of four kids.</h4>
    <h4>As a child, Eti attended Dorssy Nursery and Primary School and he has admitted to being quiet and shy at a young age. As a teenager, he graduated from Dorssy High School in Lagos,where he was a straight-A student. During this period he became more confident and outspoken. He was especially exceptional in subjects like Data processing and ICT.</h4>
    <h4>He got interested in the tech-world mainly during his time in middle school. He started learning web design with <a href="https://html.com">HTML</a> and <a href="https://html.com">CSS</a> at the age of 16. After High School, he attended New Horizons ICT training institute where he became a certified <a href="https://www.python.org">Python</a> programmer. His instructor during his time at the institution viewed him as one of the very best students he has taught.</h4>
    <h4>Eti stands at 5ft.7in. so he isn't the tallest of guys. He is one of Jehovah's Witnesses. He loves hip-pop music alot and his two favourite artists are <a href="https://oklama.com">Kendrick Lamar</a> and <a href="https://www.dreamville.com">J Cole</a>. He is also a massive football fan and loves <a href="https://www.realmadrid.com">Real Madrid</a>. He enjoys playing football, watching football and playing football games like FIFA and PES. He also really enjoys watching films based on DC and Marvel comic book characters.</h4>
</div>

<br>
<br>
<div class="card" style="background-color:salmon;" >
    <h1 style="font-family:Lucida Handwriting">TECHNICAL SKILLS</h1>
</div>

<div class="card" style="background-color:salmon;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"><h3><strong>Programming Languages</strong></h3></th>
            <th scope="col"><h3><strong>Database Management</strong></h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h4><a href="https://html.com">HTML</a></h4></td>
            <td><h4><a href="https://www.mysql.com">SQL</a></h4></td>
          </tr>
          <tr>
            <td><h4><a href="https://html.com">CSS</a></h4></td>
            <td><h4><a href="https://www.sqlite.org">SQLite</a></h4></td>
          </tr>
          <tr>
            <td><h4><a href="https://www.python.org">Python</a></h4></td>
            <td><h4><a href="https://www.mysql.com">MySQL</a></h4></td>
          </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"><h3><strong>Software Technologies</strong></h3></th>
            <th scope="col"><h3><strong>Platforms</strong></h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h4><a href="https://flask.palletsprojects.com">Flask</a></h4></td>
            <td><h4>Windows</h4></td>
          </tr>
          <tr>
            <td><h4><a href="https://www.djangoproject.com">Django</a></h4></td>
            <td><h4>Ubuntu</h4></td>
          </tr>
          <tr>
            <td><h4><a href="https://getbootstrap.com">Bootstrap</a></h4></td>
            <td></td>
          </tr>
          <tr>
            <td><h4><a href="https://sqlalchemy,org">SQLAlchemy</a></h4></td>
            <td></td>
          </tr>
          <tr>
            <td><h4><a href="https://tkdocs.com">Tkinter</a></h4></td>
            <td></td>
          </tr>
        </tbody>
    </table>
</div>
<br>

{% endblock %}