{% extends "base.html" %}
{% block content %}

body {
    background-color: #DBF9FC;
    }
<div align="center">
    <img align="center" width="480" height="640" src="{{url_for('static',filename='WhatsApp Image 2025-01-21 at 08.57.55_8dc6110b.jpg')}}">
</div>

<br>
<br>
<div align="center">
    <h1 style="font-family:Lucida Handwriting">A Little Bit About Me</h1>
    <h2 style="font-family:Lucida Handwriting">I am Etiuwem Umoh, a Software Developer</h2>
    <br>
    <h4 style="font-family:Lucida Console">I am a talented software enthusiast with extensive interest in the full life-cycle of software engineering, development, programming, support and implementation.</h4>
    <h4 style="font-family:Lucida Console">I have an in depth knowledge of software technologies, platforms and architecture, with the ability to apply them to cutting edge software, systems and applications.</h4>
    <br>
</div>

{% endblock %}